<div class="container">
  <div class="jumbotron">
    <div class="single_left">                     
      <h2 style="margin-top:0px; margin-bottom:20px;" class="single_title"> Recipe | Raw Vegan Matcha Energy Balls</h2>  

        <p><a href="http://eatable.com.au/wp-content/uploads/2015/08/Matcha-Balls-Recipe-.jpg">

          <img class="aligncenter wp-image-5752 size-full" src="http://eatable.com.au/wp-content/uploads/2015/08/Matcha-Balls-Recipe-.jpg" alt="Recipe - Matcha energy balls. Raw vegan gluten-free healthy snack" width="640" height="640"></a></p>
            
            <p>This recipe for Raw Vegan Matcha Energy Balls is gluten-free, refined sugar-free, vegan and Paleo.</p>
            <p>Matcha powder is my&nbsp;new favourite superfood. I’ve been making Matcha lattes with almond milk most mornings, adding it to my smoothies and pimping my raw vegan bliss ball recipes. Matcha is loaded with antioxidants and is a great coffee substitute. The lemon in this recipe adds a citrus twist and compliments the Matcha well. It’s like a refreshing burst of energy in your mouth. Combined with protein from the almonds and healthy fats from the coconut it’s the perfectly balanced healthy snack.<br>
            &nbsp;</p>
            <h1>Raw Vegan Matcha Energy Balls Recipe</h1>
            <p>&nbsp;</p>
            <h3>Ingredients</h3>
            <p>1 cup almond meal<br>
            1.5 cups coconut flakes<br>
            5 pitted medjool dates<br>
            Zest from 1 lemon<br>
            Juice from 1 lemon<br>
            2 tsp matcha powder</p>
            <h3>Method</h3>
            <p>1. Blend all ingredients together until well combined.<br>
            2. Roll into balls, the size is up to you!<br>
            3. Enjoy! They will last up to 5 days in the fridge or a month in the freezer, just be sure to defrost them before eating.</p>
            <p>Share your creations with Eatable using the #eatablefriendly tag on Instagram. We’d love to feature your brilliance!</p>
            <p>&lt;3 Eatable’s Em</p>
    </div>
  </div>
</div>