body { background: #eee; font-family: 'Geomanist'; }

figure { margin: 2em 0; }

img { max-width: 100%; }

.recipes { width: 800px; background: #fff; }
.recipes header { background: #fff; font-family: 'Geomanist'; font-weight: 900; }
.recipes article { padding: 0 0 10em; }
.recipes h1 { font-size: 5em; }
.recipes .directions,
.recipes .ingredients { font-size: 150%; font-weight: 300; margin: 2em 0; }
.recipes .results { font-size: 3em; font-family: 'Geomanist'; font-weight: 900; }

#main-nav { margin-bottom: 0; }
#main-nav a { font-weight: 500; font-size: 120%; margin-right: 20px; }
#main-nav .navbar-brand { width: 120px; height: 25px; margin: 13px 10px 0 10px; padding: 0; }
#main-nav .navbar-brand-icon { width: 22px; height: 30px; margin: 10px 10px 0 10px;}
#main-nav .navbar-form { padding: 0; }
#main-nav .navbar-form .form-control { width: 300%; }
#main-nav .navbar-form .btn { margin-left: 25em;}
#main-nav .navbar-form .glyphicon { margin-left: -8em; }


.user { width: 800px; background: #fff; }
.user header { background: #fff; margin-top: -3em; }
.user article { padding: 0 0 10em; }
.user h1 { font-size: 5em; margin-top: 1em; font-family: 'Geomanist'; font-weight: 900;}
.user img { width: 250px; height: 250px;}
.user form { width: 390px ; margin: 0 auto; }
.user label { padding: 1em 0; }
.user .update { margin-left: 10%; margin-top: 2em;}
.user .checkbox { height: 10px; }
.user .check { margin-left: 70px; margin-top: -12px; }

.navbar,
.navbar-default { background-color: #c11f0f; border-color: #9a1a0c; }
.navbar-default .navbar-brand { color: #ecf0f1; }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: #ffbbbc; }
.navbar-default .navbar-text { color: #ecf0f1; }
.navbar-default .navbar-nav > li > a { color: #ecf0f1; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #ffbbbc; }
.navbar-default .navbar-nav > li > .dropdown-menu { background-color: #c11f0f; }
.navbar-default .navbar-nav > li > .dropdown-menu > li > a { color: #ecf0f1; }
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus { color: #ffbbbc; background-color: #9a1a0c; }
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider { background-color: #c11f0f; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #ffbbbc; background-color: #9a1a0c; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { color: #ffbbbc; background-color: #9a1a0c; }
.navbar-default .navbar-toggle { border-color: #9a1a0c; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #9a1a0c; }
.navbar-default .navbar-toggle .icon-bar { background-color: #ecf0f1; }
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #ecf0f1; }
.navbar-default .navbar-link { color: #ecf0f1; }
.navbar-default .navbar-link:hover { color: #ffbbbc; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #9a1a0c;
  }
}

#main-container .main-img { position: relative; width: 100%; }
#main-container .main-text { position: absolute; top: 250px; font-size: 180%; text-align: center; width: 100%; color: white; }
#main-container .navbar { height: 55px; margin-bottom: 0px; margin-top: -20px; }
#main-container .navbar h3 { font-size: 2.8em; font-weight: bold; color: white; margin-top: 5px; margin-bottom: 0px; }


.landing-page { padding: 0; height: 405px; width: 800px; background: #fff; }
.landing-page article { padding: 0 0 1em; }
.landing-page h1 { font-size: 5em; margin-top: 10px; }
.landing-page .row { margin-bottom: 8.5em; }
.landing-page .row:first-of-type { margin-top: 0.5em; margin-bottom: 10.5em; }
.landing-page .row img { position: absolute; left: 0; top: 0; padding: 7px; }
.landing-page .row p { z-index: 100; position: relative; color: white; margin-top: 1.4em; text-align: center; text-transform: uppercase; font-size: 2.79em; margin-bottom: -85px; }

@font-face { font-family: 'Geomanist'; src: url("/fonts/geomanist-regular-webfont.ttf"); }

