
<body>
<main>
  <section class="user container">
    <article class="row">
      <div class="col-sm-10 col-sm-push-1">
        <header>
          <h1 class="text-center">Edit Your Details</h1>
        </header>
        <figure>
          <img class="center-block" src="http://s21.postimg.org/93tj1rs3b/doge.jpg"/>
        </figure>

        <form action="/users/<%= @user.id %>/update" method="post" class="form-horizontal">
          <div class="form-group">
          <div class="col-sm-offset-3 col-sm-5">
            <button type="changePhoto" class="btn btn-danger">Change Profile Photo</button>
                  </div>
                </div>

               <div class="form-group">
                  <label for="inputName1" class="col-sm-2 control-label" >Name</label>
                    <div class="col-sm-8">
                      <input type="name" class="form-control" id="inputName1" value=<%= @user.name %>>
                    </div>
                </div>

            <div class="form-group">
             <label for="inputEmail3" class="col-sm-2 control-label" >Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="inputEmail3" value=<%= @user.email %>>
              </div>
            </div>

          <!--   <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div> -->
                
      
            <div class="form-group">
            <label for="inputDiet3" class="col-sm-2 control-label">Diet:</label>
            <div class="check col-sm-8">

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="pesc" value=true 
                    <% if @diet1 %>
                      checked
                    <% end %>  
                  > Pescatarian
                </label>
              </div>
          
              <div class="checkbox">
                <label>
                  <input type="checkbox"  name="vegan" value=true
                   <% if @diet2 %>
                      checked
                    <% end %>  
                  > Vegan
                </label>
              </div>
                  
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="vegetarian" value=true
                    <% if @diet3 %>
                      checked
                    <% end %>  
                  > Vegetarian
                </label>
              </div>
                  
                  
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="paleo" value=true
                    <% if @diet4 %>
                      checked
                    <% end %>  
                  > Paleo
                </label>
              </div>
                  
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="glut" value=true
                    <% if @diet5 %>
                      checked
                    <% end %>  
                  > Gluten free
                </label>
              </div>
                  
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="lact" value=true
                    <% if @diet6 %>
                      checked
                    <% end %>  
                > Lactose free
                </label>
              </div>
                   </div>
           </div> 
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-5">
                <button class="update btn btn-default">Update Settings</button>
              </div>
            </div>
          </form>
      </div>
    </article>
  </section>
</main>




<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

