  <div class="container">
    <div class="jumbotron">

    <form class="form-horizontal">
      <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <img alt="Thumb doge" src="https://s3.amazonaws.com/lighthouse-compass/uploads/student/custom_avatar/459/thumb_doge.jpeg">
      </div>
      </div>
       <p></p>
      
       <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="changeAvatar" class="btn btn-danger">Change Avatar</button>
          </div>
        </div>

       <div class="form-group">
          <label for="inputName1" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="name" class="form-control" id="inputName1" placeholder="Name">
            </div>
        </div>

    <div class="form-group">
     <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="updateSettings" class="btn btn-default">Update Settings</button>
    </div>
  </div>
</form>


  </div>
</div>