
<body>
<main id ="main-container">
  <div class="main-img">
    <img src="/img/ingredients_photo_main.jpg">
<!--     <p class="main-text">Find the right diet for you. </p> -->
  </div>

  <section class="landing-page container">
    <!-- Beginning of first row -->
    <article class="row">
      <div class="col-md-4">
        <img src="/img/home_pic.jpg">
        <p>Paleo</p>
        <p>Do you have food intolerances? Are you new to the Eatable-friendly lifestyle? Then start here!</p>
      </div>

      <div class="col-md-4">
        <img src="/img/home_pic.jpg">
        <p>Vegetarian</p>
        <p>Do you have food intolerances? Are you new to the Eatable-friendly lifestyle? Then start here!</p>
      </div>

      <div class="col-md-4">
        <img src="/img/home_pic.jpg">
        <p>Lactose</p>
        <p>Do you have food intolerances? Are you new to the Eatable-friendly lifestyle? Then start here!</p>
      </div>

    </article>
    <!--End of first row-->

    <!-- Beginning of second row -->
    <article class="row">
      <div class="col-md-4">
        <img src="/img/home_pic.jpg">
        <p>Gluten Free</p>
        <p>Do you have food intolerances? Are you new to the Eatable-friendly lifestyle? Then start here!</p>
      </div>

      <div class="col-md-4">
        <img src="/img/home_pic.jpg">
        <p>Pescatarian</p>
        <p>Do you have food intolerances? Are you new to the Eatable-friendly lifestyle? Then start here!</p>
      </div>

      <div class="col-md-4">
        <img src="/img/home_pic.jpg">
        <p>Vegan</p>
        <p>Do you have food intolerances? Are you new to the Eatable-friendly lifestyle? Then start here!</p>
      </div>

    </article>
    <!--End of second row-->



  </section>
</main>
</body>  