<style>

  .homepage_link:hover{
    opacity: 0.7;
  }
  a:hover{
    font-weight: bold;
    text-decoration: none;
  }

  body{
    background: white;
  }

</style> 

<body>
<main id ="main-container">
  <div class="main-img">
    <img src="/img/ingredients_photo_main.jpg">
<!--     <p class="main-text">Find the right diet for you. </p> -->
  </div>
<!-- <nav class="navbar navbar-inverse">
<h3 class="text-center"><lead>Never be unsatisfied again</lead></h3>
</nav> -->
  <section class="landing-page container">
    <header>
      
    </header>
    <!-- Beginning of first row -->
    <article class="row">
      <div class="col-md-4">
        <a href='/homepage_search/1'class="homepage_link"><img src="/img/home_pic.jpg">
        <p>Pescatarian</p>
      </div>

      <div class="col-md-4">
        <a href='/homepage_search/2'class="homepage_link"><img src="/img/home_pic.jpg">
        <p>Vegan</p>
      </div>

      <div class="col-md-4">
        <a href='/homepage_search/3'class="homepage_link"><img src="/img/home_pic.jpg">
        <p>Vegetarian</p>
      </div>

    </article>
    <!--End of first row-->

    <!-- Beginning of second row -->
    <article class="row">
      <div class="col-md-4">
        <a href='/homepage_search/4'class="homepage_link"><img src="/img/home_pic.jpg">
        <p>Gluten-Free</p>
      </div>

      <div class="col-md-4">
        <a href='/homepage_search/5'class="homepage_link"><img src="/img/home_pic.jpg">
        <p>Paleo</p>
      </div>

      <div class="col-md-4">
        <a href='/homepage_search/6'class="homepage_link"><img src="/img/home_pic.jpg">
        <p>Lactose-Free</p>
      </div>

    </article>
    <!--End of second row-->



  </section>
</main>
</body>  